@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Paweł Stolka<br />
    Wrocław<br />
</address>

<address>
    <strong>Blog:</strong>   <a href="https://pablitoblogblog.wordpress.com/" target="_blank">Pablito Blog</a><br />
    <strong>Mail:</strong> <a href="mailto:pawel.stolka@gmail.com">pawel.stolka@gmail.com</a>
</address>