@{
    ViewBag.Title = "buenCamino";
}

<div class="jumbotron">
    <h1>Buen Camino!</h1>
    <p class="lead">buenCamino jest aplikacją do rejestrowania na żywo swojej podróży na mapach Google'a</p>
    <p> Możesz się dzielić linkiem z rodziną, przyjaciółmi - będziecie razem w tej podróży! :) <br /> 
    Kiedy chcesz aktualizujesz swoje położenie, dodajesz notatki, zdjęcia...Co chcesz:)</p>
    
    <p> Zapraszam do wędrówki!</p>

    <p><a href="~/Camino" class="btn btn-primary btn-lg">Zacznij podróż! &raquo;</a></p>
</div>

